@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    No.33, Wenzhu Road<br />
    Yuhuatai District, Nanjing<br />
    <abbr title="QQ">QQ:</abbr>
    502319497
</address>

<address>
    <strong>Email:</strong>   <a >gyjnuaa@126.com</a><br />
    <strong>GitHub:</strong> <a href="https://github.com/gyjnuaa/301Community.git" target="_blank">https://github.com/gyjnuaa/301Community.git</a>
</address>